.splineContainer1 {
    width: 500px; 
    height: 400px; 
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.description {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.price {
    font-size: 20px;
    margin-bottom: 20px;
}
  
.button {
    text-align: center;
}
  
.button button {
    background-color: #990F4B;
    color: #0b0a0a;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
}
  
.featuresContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    gap: 20px;
    border: 2px solid #b62263;
    padding: 20px;
    border-radius: 10px;
}
  
.featureContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
